# Ignore tuned model and environment
models/checkpoint_tuning_nbeats/*
models/checkpoint_tuning_tft/*
models/trial_and_error/*
models/best_model/*
env_3012010008/

# Keep .gitkeep to stay push upper folder
!models/checkpoint_tuning_nbeats/.gitkeep
!models/checkpoint_tuning_tft/.gitkeep
!models/trial_and_error/.gitkeep
!models/best_model/.gitkeep

# Ignore checkpoint model
*.ckpt
*.pth.tar

# Ignore Python cache
__pycache__/
*.pyc
*.pyo

# Ignore notebook checkpoints
.ipynb_checkpoints/

# Ignore temporary log file
*.log

# Ignore unused requirements file
requirements_default.txt

# Ignore folder_structure.md file
folder_structure.md
